.video-item {
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: left;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: 300px;
}

.recipe-videos {
  padding: 2rem;
  text-align: center;
  color: black;
}

.recipe-videos h2 {
  font-size: 2rem;
  color: #f44b87;
  margin-bottom: 1rem;
}

.video-list {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.video-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.video-item h3 {
  font-size: 1.2rem;
  color: #333;
  margin: 0.5rem;
}

.video-item p {
  border-radius: 10px;
  background-color: #fef0f5;
  margin: 0.5rem;
  padding: 5px;
  font-size: small;
  color: #f44b87;
  font-weight: bold;
  text-align: left;
}

.header-wish {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-wish img {
  width: 30px;
  height: 30px;
  padding-right: 10px;
}
